Flask==2.3.3
Flask-SocketIO==5.3.4
python-socketio==5.8.0
python-dotenv==1.0.0
python-engineio==4.5.1
firebase-admin>=6.0.0
flask-sqlalchemy>=3.0.0
psycopg2-binary>=2.9.0
eventlet==0.33.3 
discord.py>=2.3.2
requests>=2.31.0
better_profanity>=0.7.0
google-api-python-client>=2.0.0
Flask-Limiter>=3.3.0

youtube-transcript-api
google-generativeai
